# Binaries
*.exe
*.exe~
*.dll
*.so
*.dylib
*.test
*.out

# Test binary (specific)
cgotest.exe

# Output binary (specific)
mental-log.exe
mental-log-static.exe
main
main.exe
main.exe~
main.out

# OS Specific
.DS_Store
Thumbs.db

# Editor directories
.vscode/
.idea/

# Go
vendor/

# User requested to keep the database synced, so we do NOT ignore .db files
# *.db
